/* ibm-plex-serif-300 - latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 300;
  src: url('../_includes/fonts/ibm-plex-serif-v14-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../_includes/fonts/ibm-plex-serif-v14-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../_includes/fonts/ibm-plex-serif-v14-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../_includes/fonts/ibm-plex-serif-v14-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../_includes/fonts/ibm-plex-serif-v14-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../_includes/fonts/ibm-plex-serif-v14-latin-300.svg#IBMPlexSerif') format('svg'); /* Legacy iOS */
}

/* ibm-plex-serif-regular - latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 400;
  src: url('../_includes/fonts/ibm-plex-serif-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../_includes/fonts/ibm-plex-serif-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../_includes/fonts/ibm-plex-serif-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../_includes/fonts/ibm-plex-serif-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../_includes/fonts/ibm-plex-serif-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../_includes/fonts/ibm-plex-serif-v14-latin-regular.svg#IBMPlexSerif') format('svg'); /* Legacy iOS */
}

/* ibm-plex-serif-italic - latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 400;
  src: url('../_includes/fonts/ibm-plex-serif-v14-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../_includes/fonts/ibm-plex-serif-v14-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../_includes/fonts/ibm-plex-serif-v14-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../_includes/fonts/ibm-plex-serif-v14-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../_includes/fonts/ibm-plex-serif-v14-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../_includes/fonts/ibm-plex-serif-v14-latin-italic.svg#IBMPlexSerif') format('svg'); /* Legacy iOS */
}

/* ibm-plex-serif-600 - latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 600;
  src: url('../_includes/fonts/ibm-plex-serif-v14-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../_includes/fonts/ibm-plex-serif-v14-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../_includes/fonts/ibm-plex-serif-v14-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../_includes/fonts/ibm-plex-serif-v14-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../_includes/fonts/ibm-plex-serif-v14-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../_includes/fonts/ibm-plex-serif-v14-latin-600.svg#IBMPlexSerif') format('svg'); /* Legacy iOS */
}

/* ibm-plex-serif-700 - latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 700;
  src: url('../_includes/fonts/ibm-plex-serif-v14-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../_includes/fonts/ibm-plex-serif-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../_includes/fonts/ibm-plex-serif-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../_includes/fonts/ibm-plex-serif-v14-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../_includes/fonts/ibm-plex-serif-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../_includes/fonts/ibm-plex-serif-v14-latin-700.svg#IBMPlexSerif') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../_includes/fonts/source-sans-pro-v19-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../_includes/fonts/source-sans-pro-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../_includes/fonts/source-sans-pro-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../_includes/fonts/source-sans-pro-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../_includes/fonts/source-sans-pro-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../_includes/fonts/source-sans-pro-v19-latin-regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-300italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  src: url('../_includes/fonts/source-sans-pro-v19-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../_includes/fonts/source-sans-pro-v19-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../_includes/fonts/source-sans-pro-v19-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../_includes/fonts/source-sans-pro-v19-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('../_includes/fonts/source-sans-pro-v19-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../_includes/fonts/source-sans-pro-v19-latin-300italic.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-300 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url('../_includes/fonts/source-sans-pro-v19-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../_includes/fonts/source-sans-pro-v19-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../_includes/fonts/source-sans-pro-v19-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../_includes/fonts/source-sans-pro-v19-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../_includes/fonts/source-sans-pro-v19-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../_includes/fonts/source-sans-pro-v19-latin-300.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url('../_includes/fonts/source-sans-pro-v19-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../_includes/fonts/source-sans-pro-v19-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../_includes/fonts/source-sans-pro-v19-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../_includes/fonts/source-sans-pro-v19-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../_includes/fonts/source-sans-pro-v19-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../_includes/fonts/source-sans-pro-v19-latin-italic.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-700 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../_includes/fonts/source-sans-pro-v19-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../_includes/fonts/source-sans-pro-v19-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../_includes/fonts/source-sans-pro-v19-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../_includes/fonts/source-sans-pro-v19-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../_includes/fonts/source-sans-pro-v19-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../_includes/fonts/source-sans-pro-v19-latin-700.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-700italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 700;
  src: url('../_includes/fonts/source-sans-pro-v19-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../_includes/fonts/source-sans-pro-v19-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../_includes/fonts/source-sans-pro-v19-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../_includes/fonts/source-sans-pro-v19-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../_includes/fonts/source-sans-pro-v19-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../_includes/fonts/source-sans-pro-v19-latin-700italic.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* source-code-pro-regular - latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../_includes/fonts/source-code-pro-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../_includes/fonts/source-code-pro-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../_includes/fonts/source-code-pro-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../_includes/fonts/source-code-pro-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../_includes/fonts/source-code-pro-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../_includes/fonts/source-code-pro-v20-latin-regular.svg#SourceCodePro') format('svg'); /* Legacy iOS */
}
